<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxf.springcloud.mapper.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.xxf.springcloud.entity.Payment">
    <!--@mbg.generated-->
    <!--@Table payment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="serial" jdbcType="VARCHAR" property="serial" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, serial
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from payment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from payment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xxf.springcloud.entity.Payment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into payment (serial)
    values (#{serial,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xxf.springcloud.entity.Payment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serial != null">
        serial,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serial != null">
        #{serial,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxf.springcloud.entity.Payment">
    <!--@mbg.generated-->
    update payment
    <set>
      <if test="serial != null">
        serial = #{serial,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxf.springcloud.entity.Payment">
    <!--@mbg.generated-->
    update payment
    set serial = #{serial,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>